body{
    margin: 0;
    font-family: 'Roboto';
    overflow-x: visible;
    
}

body h2{
    letter-spacing: 0.1px;
}
.maindiv{
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    
}
.maindiv3{
    padding-top: 20px;
    background-color: white;
}
.products{
    width: 60%;
    float: left;
    background-color: rgb(255, 255, 255);
    content: "";
    display: table;
    clear: both;
    border-right: solid #d7d7d7 1.5px;
}
.rightside{
    width: 40%;
    float: left;
    background-color: rgb(255, 255, 255);
}
.featuredblogs{
    width: 60%;
    margin-left: 32px;
    margin-bottom: 40px;
}


.blogSection{
    width: 80%;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-bottom: 30px;
    margin-right: 15px;
    position: relative;
}
.blogSection:hover{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%), 0 3px 10px 0 rgb(0 0 0 / 9%);
}
.productcard{
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 100%;
    display: flex;
    align-items: stretch;
    
}
.productcard:after{
    content: "";
    display: table;
    clear: both;
}
.productthumb{
    flex: 0 0 100px;
    height: 100px;
    float: left;
    padding: 9px;
}
.productthumb img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.productdetails{
    position: relative; 
    height: 100%;
    position: relative; 
    float: left;
    padding-left: 11px;
}
.productdetails h2{
    margin: 0;
    font-size: 19px;
    color: black;
    margin-top: 6px;
    letter-spacing: 0.3px;
}
.productdetails p{
    margin: 0;
    font-size: 15px;
    margin-bottom: 30px;
}
.productags{
    font-size: 13px;
    position: absolute;
    left: 111px;
    bottom: 5px;
}
.productags a{
    text-decoration: none;
    color: #525252; 
}
.productupvote{
    position: absolute;
    bottom: 2%;
    right: 2%;
    background-color: rgb(255, 255, 255);
    float: right;
    font-size: 19px;
}
.productupvote a{
    text-decoration: none;
    color: black;
}
.featblog{
    width: 80%;
    float: left;
    color: black;
    margin-bottom: 9px;
}
.featuredblogs h2{
    font-size: 22px;
    margin-bottom: 15px;
}

.featblogimg{
    width: 33%; 
    float: left;
    height: 48px;
}
.featblogimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featblogcontent{
    width: 67%;
    float: left;
}
.featblogcontent h4{
    margin: 0;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 500;
}
.featblogcontent h6{
    margin: 0;
    padding-left: 5px;
    font-weight: 400;
    font-size: 9px;
    margin-top: 3px;
}

.topbar{
    background-color: rgb(255, 255, 255);
    content: "";
  display: table;
  clear: both;
  width: 100%;
  position: sticky;
  top: 0;
  position: -webkit-sticky; /* Safari */
  z-index: 999;
  border-bottom: solid #d7d7d7 1px;
} 

.filterbuttons{
    float: left;
    text-align: center;
    margin-left: 12%;
    /* padding: 5px; */
    margin-top: 5px;
    margin-bottom: 5px;
}
.filterbuttons button{
    background-color: #fff;
    border: 0;
    height: 100%;
    padding: 7px;
}
.filterbuttons button:hover{
    cursor: pointer;
    
}
.filterbuttons a{
    text-decoration: none;
    color: black;
    width: 100%;
}
.socialbuttons{
    float: left;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.socialbuttons{
    text-align: center;
    float: right;
}

.maindiv3{
    content: "";
    display: table;
    clear: both;
}
.rightfooter{
    font-size: 13px;
    text-align: center;
    width: 50%;
    margin-left: 32px;
    border-top: solid #d7d7d7 1.5px;
    padding-top: 5px;

}
.rightfooter a{
    text-decoration: none;
    color: #525252;

}
@media screen and (max-width: 1200px)  {
    .rightside{
        display: none;
    }
    .products{
        width: 100%;
        float: none;
    }
    .blogSection{
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    .maindiv3{
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .blogSection{
        width: 95%;
    }
    .productthumb{
        height: auto;
        min-height: 0;
        height: 90px;
        flex: 0 0 90px;
    }
    .productdetails{
    }
    .productags{
        left: 101px;
    }
    




}
.topcardblog{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 380px;
    margin: 0;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%), 0 3px 10px 0 rgb(0 0 0 / 9%);
    transform: scale(0.92);
}
.topcardblog p{
    color: #444444;

}
.topcard{
    border-radius: 11px;
}
.topcard .productthumb{
    flex: 0 0 82px;
    height: 82px;
    padding: 8px;
    
}
.topcard .productthumb img{
    border-radius: 10px;
}
.topcard .productdetails{
    padding-left: 8px;
}
.topcard .productags{
    left: 90px;
}
.topbar form{

}
#app{
    overflow: visible;
}
a:hover{
    text-decoration: underline;
}
.topsearchbar{
    width: 21%;
    float: right;
    margin-right: 17%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.topsearchbar .InputSearch input{
    float: left;
    width: 80%;
    margin: 0;
    height: 30px;
    border-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 14px;
    /* border-width: 1px 1px 0px 0px; */
    border-color: #d7d7d7;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
}
.topsearchbar .InputSearch button{
    height: 30px;
    width: 20%;
    margin: 0;
    float: left;
    border-radius: 0;
    background-color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-color: #d7d7d7;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
}
.topsearchbar .InputSearch button img{
    height: 100%;
    object-fit: cover;
    padding: 3px;
    
}
.foundercard{
    width: 255px;
    background-image: linear-gradient(#5565F0, #929ae0);
    margin-left: 32px;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 40px;
}
.foundercard:hover{
    cursor: pointer;
}
.foundercard h2{
    font-size: 22px;
    color: white;
    margin-bottom: 11px;
}
.foundercard p{
    color: #fff;
    font-size: 15px;
}
.foundercard p:last-child{
    margin-bottom: 0;
}


.description h2{
    font-weight: 600;
    font-family: karm;
}
.banner_Section{
	background: linear-gradient(278deg
, rgb(205 192 181) 46%, rgb(137 184 225) 100%);
    height: 350px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#app{
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
}
.top-bar {
    box-shadow: 0;
}
.addprod{
    border: 0;
    border-radius: 7px;
    padding: 15px;
    background-color: #B06E6E;
    color: #fff;
}
.socialSection a{
 text-decoration: none;
 float: left;
}
.socialSection{
    margin-top: 50px;
}

.icons i.fab {
    font-size: 32px;
    margin-top: auto;
    margin-bottom: auto;
}
.icons{
    width: fit-content;
    float: left;
    padding: 7px;
}
.icons a{
    padding-left: 8px;
    color: black;
}
.banner_Section{
    height: fit-content;
    padding-bottom: 35px;
    background: url(https://www.hyperscalefund.com/bg-patterns.svg) left top no-repeat, linear-gradient(
206deg
, #5a62b9 -10.92%, #c0c0dd 30.96%, #dfbdbd 110.9%) center center;
}
.modal-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.toplogonew{
    width: 19%;
    position: absolute;
    top: 17px;
    left: 15px;
    z-index: 9999;
}
.description{
    padding: 91px 0 0 43px;
    position: static;
    top: 0;
    left: 0;
    width: 35%;
    z-index: 999;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
.description h3{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 32px;
    padding-top: -10px;
    margin-bottom: 73px;
}
@media screen and (max-width: 1200px) {
    .topcardblog{
        display: none;
    }
    .banner_Section{
        height: fit-content;
        padding-bottom: 38px;
    }
    .description{
        width: 55%;
    }
    .modal-content {
        width: 100%;
    }
    .topsearchbar{
        display: none;
    }
    .filterbuttons{
        float: none;
        width: 100%; 
        text-align: center;
        margin-left: 0;
    }
    .toplogonew{
        width: 40%;
    }
}
@media screen and (max-width: 800px){
    .description{
        width: 100%;
        padding: 20px;
    }
    .toplogonew{
        width: 58%;
    }
}
#myBtn{
    position: fixed;
    bottom: 8px;
    right: 8px;
    border: 0;
    background-color: white;
    z-index: 999;

}
@media screen and (max-width: 800px){
   #myBtn{
       transform: scale(0.85);

   }
}




